.ClearFix {
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.ClearFix {
  *zoom: 1;
}

.gtnFloatLeft() {
	.dir(@gtnDir);
	.dir(lt){
		float: left;
	   
	}
	.dir(rt){
		float:right;   
	}
}

.gtnFloatRight() {
	.dir(@gtnDir);
	.dir(lt){
		float: right;
	   
	}
	.dir(rt){
		float:left;   
	}
}
/*
.gtnTextAlign() {
	.dir(ct) {
	  text-align: center;
	}	
	.dir(jt) {
	  text-align: justify;
	}		
}
*/	
.gtnTextAlignLeft() {
	.dir(@gtnDir);
	.dir(lt)  {
	  text-align: left;
	}
	.dir(rt) {
	  text-align: right;
	}
}

.gtnTextAlignRight() {
	.dir(@gtnDir);
	.dir(lt)  {
	  text-align: left;
	}
	.dir(rt) {
	  text-align: right;
	}
}

.gtnPadding(@top, @right, @bottom, @left) {
	.dir(@gtnDir);
	.dir(lt){        
		padding-top:@top;
		padding-right: @right;
		padding-bottom: @bottom;
		padding-left: @left;
    }
	.dir(rt) {
		padding-top:@top;
		padding-right: @left;
		padding-bottom: @bottom;
		padding-left: @right;
	}
}

.gtnMargin(@top, @right, @bottom, @left) {
	.dir(@gtnDir);
	.dir(lt){        
		margin-top:@top;
		margin-right: @right;
		margin-bottom: @bottom;
		margin-left: @left;
    }
	.dir(rt) {
		margin-top:@top;
		margin-right: @left;
		margin-bottom: @bottom;
		margin-left: @right;
	}
}

.gtnBordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
	border-top: solid 1px @top-color;
	border-left: solid 1px @left-color;
	border-right: solid 1px @right-color;
	border-bottom: solid 1px @bottom-color;
}

.gtnDropShadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
	box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}

.gtnRounded(@radius: 10px) {
	border-radius: @radius;
	background-clip: padding-box; 
}

.gtnBorderRadius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	border-top-right-radius: @topright;
	border-bottom-right-radius: @bottomright;
	border-bottom-left-radius: @bottomleft;
	border-top-left-radius: @topleft;
	background-clip: padding-box; 
}

.gtnOpacity(@opacity: 0.5) {
	opacity: @opacity;
	filter: alpha(opacity=@opacity);
}

.gtnInnerShadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
	box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}

.gtnBoxShadow(@arguments) {
	box-shadow: @arguments;
}

.gtnBoxDecorator(@topright: 10px, @bottomright: 10px, @bottomleft: 10px, @topleft: 10px,@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
	.gtnBorderRadius(@topright, @bottomright, @bottomleft, @topleft);
	.gtnPadding(10px,10px,10px,10px);
	.gtnBordered(@top-color, @right-color, @bottom-color, @left-color);
}


.gtnControlBgDir(@backgroundLeft,@backgroundRight) {
	.dir(@gtnDir);
	.dir(lt){        
		background: @backgroundLeft; 
    }
	.dir(rt) {
		background: @backgroundRight; 
	}  
}

.gtnControlBgPositionDir(@backgroundLeft,@backgroundRight) {
	.dir(@gtnDir);
	.dir(lt){        
		background-position: @backgroundLeft; 
    }
	.dir(rt) {
		background-position: @backgroundRight; 
	}  
}


.gtnResetDimensions() {
	padding:0;
	margin:0;
}

.gtnWidthHeight (@width,@height){
	width: @width;
	height: @height;
}

.gtnVerticalAlginCenter(@height,@line-height) {
	height: @height;
	line-height: @line-height;
}

.gtnVerticalAlginCenter (@height,@line-height,@width) {
	.gtnWidthHeight (@width,@height);
	line-height: @line-height;
}
.gtnAlginCenterBlock (@width,@height){
	.gtnWidthHeight(@width,@height);
	margin:0 auto;
	display:block;
}

.gtnOverflow (@width,@overflow) {
	width: @width;
	overflow: @overflow;
}

.gtnOverflow (@width,@height,@overflow) {
	.gtnWidthHeight(@width,@height);
	overflow: @overflow;
}