@gtnDir: lt;
/*Scaffolding*/
@gtnColorBg: #DEDFDF;
@gtnColorBgPortlet: #fff;
@gtnColorBorder: #AEAEAE;
/*text state*/
@gtnColorTxt: #000;
@gtnColorLink: #000;
@gtnColorHover: #058ee6;
@gtnColorWarning: #ffa500;
/*Typography*/
@gtnBaseLineHeight : 16px;
@gtnBaseFontSize: 11px;
@fontFamily: Tahoma, Verdana, Arial, Helvetica, sans-serif;
/*BoxDecorator*/
@gtnDecoratorRadius: 10px; 
/*form*/

/*button*/
