@gtnDir: lt;
@gtnColorBg: #DEDFDF;
@gtnColorBgPortlet: #fff;
@gtnColorBorder: #AEAEAE;
@gtnColorTxt: #000;
@gtnColorLink: #000;
@gtnColorHover: #058ee6;
@gtnColorWarning: #ffa500;
@gtnColorWarning: #ff0000;
@gtnBaseLineHeight : 16px;
@gtnBaseFontSize: 11px;
@gtnBaseFontWeight: normal;
@fontFamily : Tahoma, Verdana, Arial, Helvetica, sans-serif;